*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    min-width: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}
.main{
    position: absolute;
    background: white;
    min-height: 20vh;
    min-width: 20vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
}
shoeimage
{
display: flex;
flex-direction: column;
justify-content: space-evenly;
width: 400px;
height: 500px;
}

.shoeimage img
{
    object-fit: cover;
    object-position: center;
    height: 400px;
    transition: 0.5s ease;
    cursor: pointer;

}

.colors
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 30vh;
}

.colors div
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 50px;
    cursor: pointer;
    border: 1px solid black;
}
.colors ::after
{
    content: "";
    position: absolute;
    top: 50%;
    right: 42%;
    transform: translate(-50%, -50%);
    height: 500px; 
    width: 2px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.size
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 50vh;
    min-height: 20vh;
    right: 0%;
    text-align: center;
}
.prices{
   padding: 0.5rem 2.2rem;
   width: 50vh;
   text-align: right; 
}
.old{
    text-decoration: line-through;
    margin-top: 20px;
}
.number{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    row-gap: 10px;
    justify-content: space-evenly;
    margin-left: 30px;
    padding: 20px;
}
.size h2
{
    letter-spacing: 5px;
    font-size: 2rem;
    margin-left: 30px;
    margin-bottom: 40px;
}
.number div
{
    padding: 00.5rem 1rem;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bolder;
}
.submit
{
    font-weight: bold;
    margin: 10% 20%;
    display: flex;
    justify-content: center;
    width: 250px;
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
    letter-spacing: 5px;
    border: 1px solid black;
    cursor: pointer;
    background: black;
    color: white;
    transition: 0.5s ease;
}
